*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

footer {
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  color: gray;
  font-size: 0.6rem;
  opacity: 0.3;
  text-transform: uppercase;
}

footer a {
  text-decoration: none;
  color: gray;
}

footer a:hover {
  color: #000;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
